﻿@model IEnumerable<Payment.WebApi.Models.PaymentDto>

@{
    ViewData["Title"] = "View Payments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payments</h2>

<div class="form-group">
    <label for="sortby">Sortby</label>
    <select id="sortby" name="sortby" class="form-control">
        <option value="date">Date</option>
        <option value="amount">Amount</option>
    </select>
</div>
    <table id="payments" class="table">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Date</th>
                <th>Source Account Number</th>
                <th>DestinationAccount Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.currency @item.amount
                    </td>
                    <td>
                        @item.date
                    </td>
                    <td>
                        @item.sourceAccountNumber
                    </td>
                    <td>
                        @item.destinationAccountNumber
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>
